html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: "Livvic", "Times New Roman", sans-serif;
  margin: 0;
  padding: 0;
  background-color: gold;
  overflow-x: hidden;
}

.container {
  padding: 50px;
  transform-origin: top left;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-btn {
  z-index: 1;
  position: fixed;
  top: -75px;
  left: -75px;
}

.menu-icons {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #7fbee6;
  transition: transform 0.5s linear;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(25%, 50%);
  border: none;
  font-size: 26px;
  color: #fff;
  background-color: transparent;
}

.btn:focus {
  outline: 0;
}

.btn-close {
  left: 12%;
}

.article {
  max-width: 1000px;
  margin: 0 auto;
  transform-origin: top left;
  transition: transform 0.5s linear;
}

.article h2 {
  font-size: 42px;
  margin-bottom: 4px;
}

.article span {
  font-size: 14px;
  font-style: italic;
  color: cornflowerblue;
}

.article figcaption {
  font-size: 28px;
  margin-bottom: 12px;
}

.container.open-menu {
  transform: rotate(-20deg);
}

.container.open-menu .menu-icons {
  transform: rotate(-70deg);
}
